# Latex编译产生的交叉文件
*.log
*.aux
*.lof
*.out
*.thm
*.toc
*.bak
*.bbl
*.blg
*.idx
*.ind
*.acn
*.acr
*.alg
*.gls
*.ist
*.fls
*.lot
*.spl
*.synctex.gz
*.fdb_latexmk
._wordcount_selection.tex
*.code-workspace
.vscode/